<div class="row">
	<div class="col-md-12 hero-image-cleanit">
		<div class="col-md-6 col-md-offset-3">
			<a href="http://www.usecleanit.com/" target="_blank"><%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/Cleanit-logo-hero-1900x491.svg", class: "img-responsive center-block" %></a>
		</div>
	</div>
</div>
<div class="content-section">
	<div class="row section-one">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Cleanit</h2>
				<h3><a href="http://www.usecleanit.com/" target="_blank">Launch the site</a></h3>
				<p>
					Cleanit is a startup that provides a simpler way for people to book, and pay for their house cleaning. No app to download. All through text.</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-one -->

	<div class="row section-two">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Project Overview</h2>
				<p>
					I was tasked with two major components. Number one, creating a landing page that would not only explain the company's purpose but also have a few call to actions for the user to immediately start using the product. And, number two, create a logo that embodies what the company's purpose is. I started out with the logo. I knew that it would be the epicenter of how my landing page would look and how the copy would be written. 
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-two -->

	<div class="row section-three">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Design</h2>
				<p>
					Here are a few early examples of the logo iterations;
				</p>
				<h5><strong>Logo iterations (1)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/Cleanit-logo-iterations-1900x965.png", class: "img-responsive" %>
				<h5><strong>Logo iterations (2)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/Cleanit-logo-iterations-two-1900x965.png", class: "img-responsive" %>
				<h5><strong>Logo iterations (3)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/Cleanit-logo-iterations-three-1900x965.png", class: "img-responsive" %>
				<p>
					As you can see I went through plenty of iterations. I worked shoulder to shoulder with the client-even allowing him to sketch a few things up on paper. I finally landed on this final design which I was incredibly happy with. Most importantly, the client was super stoked about it.
				</p>
				<h5><strong>Final Logo</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/Cleanit-final-logo-1900x965.png", class: "img-responsive" %>
			</div>
	</div>
	<!-- end of section-three -->

	<div class="row section-four">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Web design</h2>
				<p>
					I wanted to keep the website simple. Down to just a landing page explaining the product and of course a call to action to use the product.
				</p>
				<h5><strong>Landing page</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/Cleanit-web-design-1900x965.png", class: "img-responsive" %>
				<p>
					The interesting part is that the product is just a service offered through text messaging. Which is why I wanted to showcase an example of a conversation between a user and the service. The goal here is to display how to use the service and how easy it is to use.
				</p>
				<h5><strong>Conversation example</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/Cleanit-conversation.png", class: "img-responsive" %>
			</div>
		</div>
	</div>
	<!-- end of section-four -->

	<div class="row section-five">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>What I learned?</h2>
				<p>
					At first I thought a client sketching out a logo for me was silly. But it turns out that you really get a sense for what is in their head. It doesn't necessarily have to be a work of art, because mine aren't, they are called a sketch for a reason. But even some chicken scratch can move the ball forward and give you some perspective.  
				</p>
			</div>
		</div>
	</div>
</div><!-- content -->
