<div class="row">
	<div class="col-md-12 hero-image-goodtooth">
		<div class="col-md-6 col-md-offset-3">
			<a href="https://www.getgoodtooth.com/" target="_blank"><%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-logo-1900x286.png", class: "img-responsive center-block" %></a>
		</div>
	</div>
</div>
<div class="content-section">
	<div class="row section-one">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>GoodTooth</h2>
				<h3><a href="https://www.getgoodtooth.com/" target="_blank">Launch the site</a></h3>
				<p>
					GoodTooth helps dentists bring in more patients through custom-built websites, tailored brand design, and digital marketing.</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-one -->

	<div class="row section-two">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Project Overview</h2>
				<p>
					When I was first approached with the project by the client he had a goal of launching the website in two weeks. The only issue was he had no logo, or idea of how he wanted his brand to look. He basically had a background in digital marketing and worked with a few dentists in the past. In other words he felt their pain. He wanted to offer a service that would not only help dentists with digital marketing but he also wanted to help them with branding, design, and development--the works! 
				</p>
				<p>
					He came to me with a tight deadline and a limited budget. I explained to him that we needed to trim down his project to the core or fundamentals of his business. If not, the project would take more than two weeks and the cost would of course be much higher.
				</p>
				<p>
					In an ideal world you take your sweet time with the client iterating through different designs or concepts but that's a world that doesn't come around too often. He was looking to validate his idea and start making a profit. I don't blame him.
				</p>
				<p>
					So I got to work. I was tasked with two major fundamentals for his business. (1) Build out a logo, (2) Design and develop his website, in two weeks!
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-two -->

	<div class="row section-three">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Branding & Design</h2>
				<p>
					I put a constraint on myself to brand and design the logo for GoodTooth in one day. Typically these type of projects take days or months. But like I mentioned before my client had an extremely tight deadline and budget. Just how he had expectations that I would get the job done within the allotted time I promised. I also made him aware of my expectations. Which were;
				</p>
				<p>
					<strong>(1)</strong> I would present one logo and if he wanted an iteration or second design I would have to extend the deadline and charge more.
					<br />
					<strong>(2)</strong> As soon as the logo is approved there's no looking back and we move forward with designing and developing the site.
				</p>
				<h5><strong>Logo</strong></h5>
				<br />
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/GoodTooth-purple-green-1200x200.png", class: "img-responsive" %>
				<p>
					He wanted a simple, minimalistic design without breaking up GoodTooth into two separate words. I kept the words together and added the tooth elements to replace the letters "o" in "good". I wanted to keep the font letters inline with the shape of the tooth elements so I used Gotham Rounded Medium.
				</p>
				<h5><strong>Color Scheme</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-color-scheme-2560x1300.png", class: "img-responsive" %>
				<p>
					When going over options for the brand's color scheme I settled on a purple, green-mint, and dark-silver combination. The dark-silver color gives the logo a professional established feel while the purple, and green-mint gives it a touch of playfulness. I wanted a good balance between the two concepts.
				</p>
			</div>
	</div>
	<!-- end of section-three -->

	<div class="row section-four">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Web design & development</h2>
				<p>
					With a tight deadline looming I knew I couldn't build out a website with 20 different pages, nor could I take my sweet time in sketch and iterate through multiple designs. I had to trim the website down to it's core fundamentals and try to highlight them on one page.
				</p>
				<h5><strong>Hero</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-hero-1900x965.jpg", class: "img-responsive" %>
				<p>
					Starting with the hero sections. Right from the beginning I wanted to express the purpose for dentists to use GoodTooth into one simple sentence "Bring in more customers".
				</p>
				<h5><strong>Learn more</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-learnmore-one-2560x1300.png", class: "img-responsive" %>
				<h5><strong>Learn more</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-learnmore-two-2560x1300.png", class: "img-responsive" %>
				<p>
					The beginning section showcases the three main pillars of GoodTooth. It's then followed by all the additional services offered.
				</p>
				<h5><strong>Pricing</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/goodtooth-pricing-2560x1300.png", class: "img-responsive" %>
				<p>
					I really enjoyed this part. Trying to figure out how to place each tier and display their differences is always a fun challenge. The goal here was to highlight the best package which is of course the most expensive one. I did this by placing it in the middle with a different color scheme and height. If you notice the "Growing Package" has a slight height difference. This helps visually contrast the difference from the "Starter" package but it doesn't take away attention from the most important package, which is the "Premium" package.
					</p>
			</div>
		</div>
	</div>
	<!-- end of section-four -->

	<div class="row section-five">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>What I learned?</h2>
				<p>
					Constraints, if used right, are good. Being as honest as possible with the client and not only adhering to their expectations but expressing expectations of your own to the client can make a world of a difference with the finished product and how your relationship with the client progresses during the project. To my surprise, I was able to finish the entire project in about one week and a half(before the original projected time of two weeks). The client and I we're both stoked with how the website and logo turned out.  
				</p>
			</div>
		</div>
	</div>
</div><!-- content -->
