<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h2>Hi!</h2>
				<p>
					My name is Daniel but you can call me Danny. I'm a freelance developer and designer. I truly feel blessed to be able to do what I love for a living. Here are a few of my <span class="link"><%= link_to "projects", projects_path, target: "_blank" %></span>. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="social-icons">
					<ul class="list-inline">
	          <li class="twitter"><%= link_to '<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/dan_inmotion", target: "_blank" %></li>
	          <li class="instagram"><%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, "https://www.instagram.com/daninmotion/", target: "_blank" %></li>
	          <li class="github"><%= link_to '<i class="fa fa-github fa-2x"></i>'.html_safe, "https://github.com/daninmotion", target: "_blank" %></li>
	          <li class="medium"><%= link_to '<i class="fa fa-medium fa-2x"></i>'.html_safe, "https://medium.com/@dancardenas", target: "_blank" %></li>
	        </ul>
      	</div>
			</div>
		</div>
	</div><!-- content -->
</div>
