<div class="row">
	<div class="col-md-12 hero-image">
		<div class="col-md-6 col-md-offset-3">
			<a href="http://www.ondek.link/" target="_blank"><%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/onDEK-logo-ver4-1900x416.png", class: "img-responsive center-block" %></a>
		</div>
	</div>
</div>
<div class="content-section">
	<div class="row section-one">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>onDEK</h2>
				<h3><a href="http://www.ondek.link/" target="_blank">Launch the site</a></h3>
				<p>
					The company premise is simple. An online store where only skateboard decks are sold. No grip tape, no wheels, no bearings, you get the point 😉 <a href="http://www.ondek.link/" target="_blank">onDEK</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-one -->

	<div class="row section-two">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Project Overview</h2>
				<p>
					The goal was to make it a single page website. Which was challenging. Ecommerce stores typically have more than just one page. You have to take into account the shopping cart, about us section, frequently asked questions, etc...But, I knew this was not going to be a typical build. So I sort of threw that layout out the window and decided to keep it simple. No shopping cart(for now). Pretty much just one page displaying all the skateboard decks. I started doing some research (in hopes of getting some inspiration) on simpler ecommerce stores. I narrowed it down to the following two sites;
				</p>
				<h5><strong>TID Watches</strong></h5>
				<%= image_tag "tid_1900x965.png", class: "img-responsive" %>
				<h5><strong>Och Und Junior Watches</strong></h5>
				<%= image_tag "ochs_und_junior_1900x965.png", class: "img-responsive" %>
				<p>
					Although I liked how TID Watches had all their products laid out on one page, they seemed to small(at least for the direction I had in mind). I really got inspired by how Och Und Junior Watches had their watches laid out. Big product image towards the left. Product name on the right with a small "learn more" link right under. This was it!
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-two -->

	<div class="row section-three">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Design</h2>
				<p>
					Now that I had a layout in mind. It was off to Affinity Designer to get it mocked up.
				</p>
				<h5><strong>Mock up</strong></h5>
				<%= image_tag "affinity_ondek_1900x965.png", class: "img-responsive" %>
				<p>
					Big Product image on the right. Product description on the left. With a "learn more" link at the bottom and of course the "Buy" option right insight.I didn't just want to have products on a white background so I decided to switch it up a bit and have them displayed on a different color background which goes really well with the orange "Buy" button. 
					<br>
					Now I know what you are asking yourself, no "add to cart" button? Yes, and that was on purpose. The turn around time on this project was short. The goal was to get 5 products listed and for customers to be able to buy directly. No browsing, and no shopping cart. Very similar to what you would see on Twitter.
				</p>
				<h5><strong>Twitter</strong></h5>
				<%= image_tag "twitter_1900x965.png", class: "img-responsive" %>
				<p>
					For the "More info" link I didn't want for it to link you to another page. Again, the premise of the site is for it to just be a single page site. Where you can view your products and buy at the same time. But, we still wanted to display information (even if it's a short description) of the product. The fix for that was to do a pop up box(the nerdy term for it is Modal) that would display the additional information without having it link you to a separate page.
				</p>
				<h5><strong>"More info" Modal</strong></h5>
				<%= image_tag "modal_1900x965.png", class: "img-responsive" %>
				<p>The logo for onDEK had a few iterations.</p>
				<h5><strong>Logo iterations</strong></h5>
				<%= image_tag "ondek_sketch_1900x965.png", class: "img-responsive" %>
				<p>
					The colors orange and purple are actually two of my favorite colors. They also pair really well. I was going to go with an already existing font like 'Halvetica Nue Condensed Bold'. But instead I decided to play around with a few of the geometric shapes to see what comes out on the other end. And after a few tries I finally got a logo that I liked. 
				</p>
				<h5><strong>onDEK Logo</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/ondek_mywork_ver2-1900x945.png", class: "img-responsive" %>
			</div>
		</div>
	</div>
	<!-- end of section-three -->

	<div class="row section-four">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Integrating Shopify</h2>
				<p>
					I wanted to use Shopify as my ecommerce solution. It just seemed like such an amazing tool. But I also knew it can get complicated, real quick. Again, since right off the bat I knew I was not going to have a shopping cart I decided to stick with Shopify's most simple plan. I believe it's $9.99 per month and you get an option for a 'buy' button and Shopify handles the rest. Calculating shipping based on the client's location, sending the client an email confirmation of the purchase, giving you the tools to track how many orders have been place, etc...That is all handled automatically with Shopify. In other words the barrier to setup the backend for an ecommerce store is almost non-existent with Shopify. Again, I'm using the most basic plan for Shopify. As I mentioned before this is an extremely powerful tool that has many possibilities and can get as complex as you need it to be.
				</p>
				<h5><strong>Shopify's checkout page</strong></h5>
				<%= image_tag "shopify_presentation_ondek_1953x1653.png", class: "img-responsive" %>
			</div>
		</div>
	</div>
	<!-- end of section-four -->

	<div class="row section-five">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>What the future holds?</h2>
				<p>
					Like I had mentioned earlier. There was a need for a quick turnaround on this project. The objectives were clear. List five skateboard decks. Single page website. With the ability to 'Buy' on the spot. Which is what I executed. You can almost say it's the MVP(Minimum Viable Product). Now the question is will this MVP, remain just that and MVP? Will there even be a need to add a shopping cart? Will there be a need to add more skateboard decks? Can the company just rotate 5 decks every week? All these questions really come down to where the company is currently at, where they want to go, and if they want to serve a larger market or just keep it small. 
					<br>
					I've come to realize money and growth is not what is on every company owner's mind. Yes, profit is important. But, it's also very much owner driven. Some owners want millions in profit. Others are just fine staying small and making thousands in profit. But, I'm going off on a tangent a bit. The point is what does the future hold in regards of feature updates on the site? I can say I definitely see myself moving off of Shopify and creating a 'Shopping cart' for onDEK. And maybe even adding an image enhancer like "LigthBox" so that folks can zoom into an image. 
				</p>
			</div>
		</div>
	</div>
</div><!-- content -->
