<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="projects">
				<h2>My Work</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="ondek">
				<%= link_to ondek_path, target: "_blank" do %>
				  <%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/ondek_mywork_ver2-1900x945.png", class: "img-responsive" %>
				<% end %>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="begin-fm">
				<%= link_to begin_fm_path, target: "_blank" do %>
        	<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/begin-fm/Begin.fm-logo-1900x945.png", class: "img-responsive" %>
      	<% end %>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="scrive">
				<%= link_to 'https://medium.com/@dancardenas/about-scrive-a6a1110435c2#.ypjcrzqne', target: "_blank" do %>
        	<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/Scrive-logo-1900x945.png", class: "img-responsive" %>
      	<% end %>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="cleanit">
				<%= link_to cleanit_path, target: "_blank" do %>
        	<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/danielc+website/Cleanit-logo-1900x945.png", class: "img-responsive" %>
      	<% end %>
			</div>
		</div>
	</div>

</div>