<div class="row">
	<div class="col-md-12 hero-image-s-logo">
		<div class="col-md-6 col-md-offset-3">
			<a href="https://www.instagram.com/bashramirez/" target="_blank"><%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-1900x1832.png", class: "img-responsive center-block" %></a>
		</div>
	</div>
</div>
<div class="content-section">
	<div class="row section-one">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>BASH</h2>
				<h3><a href="https://www.instagram.com/bashramirez/" target="_blank">Launch</a></h3>
				<p>
					Sebastian Ramirez is one of South Florida's top freelance photographers. When he reached out to me looking for a logo I was humbled and super stoked.</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-one -->

	<div class="row section-two">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Project Overview</h2>
				<p>
					Sebastian explained to me that he didn't know what he wanted. All he knew was that he was looking for an "abstract" logo. One that he could use for his personal brand or for a clothing line. I was up to the challenge and immediately got to work.
				</p>
			</div>
		</div>
	</div>
	<!-- end of section-two -->

	<div class="row section-three">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>Design</h2>
				<p>
					I decided to start experimenting with the first letter of Sebastian's name. Trying to make the letter S into a subtle abstract element was proving to be challenging. I experimented with different shapes, and elements. The round shape was was really catching my attention. So I decided to work off of more round shape iterations. Here are just a few examples;
				</p>
				<h5><strong>Logo iterations (1)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-itteration-one-1900x965.png", class: "img-responsive" %>
				<h5><strong>Logo iterations (2)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-itteration-two-1900x965.png", class: "img-responsive" %>
				<h5><strong>Logo iterations (3)</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-itteration-three-1900x965.png", class: "img-responsive" %>
				<p>
					I was still not convinced. I remember I had a book recommended by famous graphic designer, Aaron Draplin, which was filled with different letter logos. The title of the book is "Trade Marks & Symbols". I decided to give it a look again and immediately found an inspiration that would mold my logo into it's final form; 
				</p>
				<h5><strong>Inspiration</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-itteration-inspiration-1900x965.jpg", class: "img-responsive" %>
				<h5><strong>Final Logo</strong></h5>
				<%= image_tag "https://s3.amazonaws.com/danielcardeans-link/Images/s-logo-final-1900x965.jpg", class: "img-responsive" %>
			</div>
	</div>
	<!-- end of section-three -->

	<div class="row section-five">
		<div class="col-md-12">
			<div class="col-md-6 col-md-offset-3">
				<h2>What I learned?</h2>
				<p>
					Personal brand logos are...well...personal. They are taken to heart by the client. With good reason. It's a visual design that will be displayed to the world on the client's social media platform. In summary, it's a representation of who they are. It's okay to disagree with the client when they want to move forward with a design that you are just not too happy with. It can definitely lead to more pressure on your end to step up your game. Which is what ended up happening to me. But, at the end of the day I created a logo that both the client and I were super stoked with.  
				</p>
			</div>
		</div>
	</div>
</div><!-- content -->
